@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-900 text-slate-200 antialiased;
  background-image: 
    radial-gradient(circle at 10% 20%, rgba(168, 85, 247, 0.15) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, rgba(6, 182, 212, 0.15) 0%, transparent 20%);
}

/* Скроллбар */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-primary-500 transition-colors;
}